<div style="text-align:center">
  <h1>
    Tournament Payouts Calculator
  </h1>
</div>

<form #f="ngForm">
  <table>
    <tbody>
    <tr>
      <td>
        <label for="entryFees">Entry Fees</label>
      </td>
      <td>
        <input [(ngModel)]="entryFees" name="entryFees" id="entryFees" type="number" min="0"/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="minimum">Minimum Payout</label>
      </td>
      <td>
        <input [(ngModel)]="minimum" name="minimum" id="minimum" type="number" min="0"/>
      </td>
    </tr>
    </tbody>
  </table>
</form>


<table>
  <thead>
    <td>Place</td>
    <td>Percentage</td>
    <td>Amount</td>
  </thead>
  <tbody>
    <tr *ngFor="let payout of actualPayouts">
      <td>{{payout.place}}</td>
      <td>%{{payout.percentage * 100}}</td>
      <td>${{payout.amount}}</td>
    </tr>
  </tbody>
</table>

