.title {
  font-size: 20pt;
  color: #222222;
}

.main {
  font-size: 16pt;
  color: #222222;
}

.form label {
  font-size: 14pt;
  display: block;
  color: #848484
}

.form input {
  font-size: 16pt;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid;
  display: block;
}

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16pt;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  display: block;
}

/* From https://www.textfixer.com/tutorials/css-table-alternating-rows.php */
.TFtable {
  width:100%;
  border-collapse:collapse;
}
.TFtable td {
  padding:7px;
  border:#4e95f4 1px solid;
  text-align: center;
}
/* provide some minimal visual accommodation for IE8 and below */
.TFtable tr {
  background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd) {
  background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even) {
  background: #dae5f4;
}
